.greetings {
    padding: 20px 0;
}
.form {
    display: flex;
    justify-content: center;
}
.repos {
    margin: 20px auto;
    max-width: 860px;
    padding: 15px;
    width: auto;
}
.mdl-card {
    min-height: auto;
}
.mdl-card__title a {
    text-decoration: none;
}
.mdl-card__title a:hover,
.mdl-card__title a:focus {
    text-decoration: underline;
}
.mdl-card__supporting-text {
    padding: 8px 16px;
}
.mdl-card__supporting-text:last-child {
    margin-bottom: 8px;
}
.mdl-card__supporting-text span:not(:first-child) {
    margin-left: 15px;
}

.material-icons.md-14 {
    font-size: 14px;
    width: 14px;
}

@media screen and (max-width: 479px) {
    .mdl-textfield {
        max-width: 210px;
    }
}

@media screen and (min-width: 1024px) {
    .greetings {
        padding: 40px 0;
    }
}